* {
    background:                     #eceff4ff;
    background-alt:                 #eceff4ff;
    foreground:                     #ffffffcc;
    border:               			#FDBB6Dff;
    border-alt:               		#DA717Fff;
    selected:               		#685E79ff;
    urgent:                         #DA4453FF;
}
